# Accessing the Public Data API with Python (Jupyter Notebook & Pandas)

## API Version 2.0 Sample Code

Updated bls.gov 'API Version 2.0 Python Sample Code', by Mark McEnearney, to use Pandas/Jupyter Notebook.

### Imports

In [1]:
import requests
import json
import pandas as pd

### Build and submit request, then format response as JSON 
Requesting data for two series, CUUR0000SA0 (Consumer Price Index) and SUUR0000SA0 (Chained Consumer Price Index for All Urban Consumers: All Items in U.S. City Average), between the years 2011 and 2014

In [2]:
headers = {'Content-type': 'application/json'}
data = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})

p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)

json_data = json.loads(p.text)

### Iterate through series data to build a list

In [3]:
parsed_data = []
for series in json_data['Results']['series']:
    seriesId = series['seriesID']
    for item in series['data']:
        year = item['year']
        period = item['period']
        value = item['value']
        footnotes=""
        for footnote in item['footnotes']:
            if footnote:
                footnotes = footnotes + footnote['text'] + ','
            parsed_data.append([seriesId,year,period,value,footnotes[0:-1]])

### Convert parsed list data into a Pandas DataFrame

In [4]:
df = pd.DataFrame(parsed_data, columns=['seriesID', 'year', 'period', 'value', 'footnotes'])

### Describe and display dataframe

In [5]:
display(df.describe())
display(df)

           seriesID  year period    value footnotes
count            96    96     96       96        96
unique            2     4     12       96         1
top     SUUR0000SA0  2011    M01  130.953
freq             48    24      8        1        96

       seriesID  year period    value footnotes
0   CUUR0000SA0  2014    M12  234.812
1   CUUR0000SA0  2014    M11  236.151
2   CUUR0000SA0  2014    M10  237.433
3   CUUR0000SA0  2014    M09  238.031
4   CUUR0000SA0  2014    M08  237.852
..          ...   ...    ...      ...       ...
91  SUUR0000SA0  2011    M05  129.999
92  SUUR0000SA0  2011    M04  129.483
93  SUUR0000SA0  2011    M03  128.585
94  SUUR0000SA0  2011    M02  127.363
95  SUUR0000SA0  2011    M01  126.778

[96 rows x 5 columns]